<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	verbose="true">
	<testsuites>
		<testsuite name="MySQL">
			<directory suffix="MySQLTest.php">./tests/</directory>
		</testsuite>
		<testsuite name="PostgreSQL">
			<directory suffix="PostgreSQLTest.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<var name="DB_HOST" value="127.0.0.1"/>
		<var name="DB_NAME" value="test_db"/>
		<var name="DB_TABLE" value="users"/>
		<var name="DB_TPREFIX" value="t_"/>
		<var name="MYSQL_PORT" value="3306"/>
		<var name="MYSQL_USER" value="root"/>
		<var name="PGSQL_PORT" value="5432"/>
		<var name="PGSQL_USER" value="postgres"/>
	</php>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src/</directory>
		</include>
		<report>
			<clover outputFile="./build/logs/clover.xml"/>
		</report>
	</coverage>
</phpunit>
