<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	syntaxCheck="true"
	verbose="true">
	<testsuites>
		<testsuite name="Package Test Suite">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<var name="DB_USER" value="travis" />
		<var name="DB_DBNAME" value="test_db" />
		<var name="DB_TABLE" value="users" />
		<var name="DB_TPREFIX" value="t_" />
	</php>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-xml" target="./build/coverage-xml/" />
	</logging>
</phpunit>
